.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}
section {
  float: left;
  margin: 0 1.5%;
  width: 30%;
  z-index: 0;
}
aside {
  float: right;
  margin: 0 1.5%;
  width: 63%;
  z-index: 1;
}
.date {
  float: right;
}