<!-- Search Bar -->
  <div class='col-md-0 md-offset-1'>
    <form class='search form-inline'>
      <button class='btn btn-default' ng-click='addTrail(search)'>Search</button>
      <input type='search' class='form-control search' type='text' id='search' autofocus placeholder='Search for trail name or use map below' ng-model='search' />
    </form>
  </div>

  <!-- Map -->
  <div class='container'>
    <div class='row map-row'>
      <img class='map img-responsive center-block' src='http://images.nationalgeographic.com/wpf/media-content/richmedia/0/473/project/trail-maps/img/glacier-main-610.jpg'>
    </div>

    <!-- List of Trails -->
    <div class='row'>
      <div class='traillist col-md-12'>
        <div ng-repeat='trail in trails'>
          <!-- <div class='col-md-2'><img class='profile' src='{{trail.profile}}'></div> -->
          <div class="row">
            <div class='col-md-2'><img class='profile' ng-src='{{trail.profile}}'></div>
            <div class='col-md-3 trailname'><h3>{{trail.name}}</h3></div>
            <div class='col-md-6'>{{trail.comments}}</div>
            <div class='col-md-1'>
              <div>{{trail.votes}} votes</div>
              <div>arrows</div>
            </div>
          </div>
          {{hello}}
        </div>
      </div>
    </div>
  </div>